:root {
  --ff: "Lato", sans-serif;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.3125rem;
  --fs-h4: 1.125rem;
  --fs-h5: 1rem;
  --fs-h6: 0.875rem;

  --fs-p-lg: 1.25rem;
  --fs-p-md: 1rem;
  --fs-p-sm: 0.875rem;

  --fs-s: 0.75rem;

  --fw-n: 300;
  --fw-m: 400;
  --fw-b: 700;

  --clr-p: #3b81f6;
  --clr-s: #eb5545;
  --clr-t: #f1a33d;

  --clr-a-1: #4ca0e3;
  --clr-a-1-light: #4ca0e3;

  --clr-n-1: #272932;
  --clr-n-2: #373946;
  --clr-n-3: #4b4c55;
  --clr-n-4: #5c626a;
  --clr-n-5: #a4a5a9;
  --clr-n-6: #dedee0;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 2.5);

  --shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  --br: 0.4rem;
}

/*
@media (min-width: 800px) { :root { --fs-h1: 4rem; } }
*/

* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-n-1);
  color: var(--clr-n-6);
  font-family: var(--ff);
  font-weight: var(--fw-n);
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  font-size: clamp(var(--min), var(--val), var(--max));
  margin: 0;
  max-inline-size: 42rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0.4em;
}

h1,
h2,
h3 {
  font-weight: var(--fw-b);
}

h4,
h5,
h6 {
  font-weight: var(--fw-m);
}

h1 {
  --min: var(--fs-h1);
  --val: 6vw;
  --max: 3rem;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

p {
  --min: 1rem;
  --val: 2.5vw;
  --max: 1.2rem;
  /* margin-bottom: 0.8em; */
}

small {
  font-size: var(--fs-s);
}

a {
  color: var(--clr-p);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

button {
  background-color: var(--clr-p);
  border-radius: var(--br);
  border-style: none;
  color: var(--clr-n-6);
  font-size: var(--fs-p-md);
  font-weight: var(--fw-b);
  min-width: 6rem;
  padding: 1rem;
}

button:active {
  opacity: 0.8;
}

input {
  border-radius: var(--br);
  border-style: none;
  padding: 1rem;
  width: min(36rem, 100%);
}

input:focus {
  border: 1px solid var(--clr-p);
  outline: none !important;
}

::placeholder {
  color: var(--clr-n-4);
  opacity: 1;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .page > * {
  border: 1px solid var(--clr-n-6);
  padding-inline: clamp(1.1rem, 8vw, 6rem);
} */

.page-header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--spacer-lg);
  text-align: center;
}

.page-header h1 {
  font-size: var(--fs-h2);
  margin: 0;
}

.page-content {
  padding-block: clamp(1rem, 8vh, 2rem);
  padding-inline: var(--spacer);
  flex: 1;
}

.problem {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.problem-card {
  align-items: center;
  background-color: var(--clr-n-2);
  border-radius: var(--br);
  display: flex;
  justify-content: center;
  min-height: clamp(2rem, 10vw, 10rem);
  max-width: 28rem;
  /* min-width: clamp(7rem, 100%, 10rem); */
  padding: clamp(2rem, 10vw, 4rem);
  text-align: center;
  width: 100%;
}

.problem-card p {
  font-size: clamp(2rem, 12vw, 4rem);
}

.instructions {
  padding-block: var(--spacer);
  text-align: center;
}

/* .instructions-card {} */

.answers {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-block: var(--spacer);
}

.answers-btn {
  flex: 1 1 12rem;
}

.page-footer {
  padding: var(--spacer);
  text-align: center;
}
